 body {
   padding-left: 0;
   padding-right: 0;
   background-image:url("../img/Background.scale-100.png");
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 320px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .image {
   width: 706px;
   height: 607px;
   position: absolute;
   top: 353px;
   left: 254px;
 }
 .navbar .span12 {
   height: 57px;
   width: 317px;
 }
 .navbar .navbar-inner {
   background: rgba(255, 255, 255, 0.96);
   height: 57px;
   padding-left: 45px;
   padding-right: 20px;
 }
 .navbar .navbar-inner .image  {
   height: 48px;
   width: 108px;
 }
 .container {
   padding: 5px 0px 5px 0px;
 }
 .container .row-fluid .span12 form {
   padding: 20px 20px 0px 20px;
 }